body {
    background-color: rgba(0, 0, 0, 0.8);
}

.form-container {
    border: 5px dashed red;
    width: 20%;
    height: 300px;
    margin-top: 10%;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    height: 40px;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
}

form button {
    height: 40px;
    background-color: rgba(0, 255, 0, 0.6);
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: rgba(0, 255, 0, 1);
}